

/* Styling for the head component */
#head{
  
  background-color: #0E0B16;

  height: 100px;
  padding-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  
  border-radius: 10px;
  border-color: black;
  border-style: groove;
  text-align: center;

  color: white;
  font-family : Arial, sans-serif;
  font-style: italic;
  font-size: 75px;

}

/* Navbar */
.navbar-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.nav-item-right {
  margin-left: auto; 
}
.headerStyles{
  font-weight: bold;
  color: white;
  font-size: 1.5rem; 
  display: flex;
  align-items: center;
  
}

.text-rose {
  color: #dd3675; 
}

/* body{

  background: #fccb90;
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  background-repeat: no-repeat;
  background-size: 100% 100%; 
} */


/* styling for from inputs */
input {
  width:100%;
  padding : 12px 20px;
  margin : 8px;

  box-sizing : border-box;
  border: 2px solid rgb(165, 161, 161);
  border-radius: 4px;

}





.custom-list {
  list-style: none; 
  padding: 0; 
  display: inline;
}

.list-item {
  background-color: #f0f0f0; 
  padding: 8px;
  margin: 4px;
  cursor: pointer; 
  display:inline-table;
  border-radius: 8px; 
}


li:hover{
  opacity: 0.8;
}


/* stylings for button in general */
button{
  background:transparent;
  transition: transform .5s ease;
}

button:hover{

  opacity: 0.8;
  transform: scale(1.1);
}







/* styling for container that holds all the recipes
.resultOuterContainer{
  width: 150%;

  margin-left: 5%;
  margin-top: 30px;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-color: black;
  border-style: solid;
  background-color: darkgrey;
  
} */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }


/* styling for container that holds individual recipe item*/
/* #resultContainer{
  
  height: fit-content;

  border-style:groove;
  border-color: whitesmoke;
  border-width: 10px;

  background-color: white;
  color: black;

  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 2%;

  transition: transform .5s ease;

}
#resultContainer:hover{
  transform: scale(1.1);
} */

/* Styling for the image in the results*/
/* img{

  margin-top: 20px;
  margin-left: 40%;
  margin-bottom: 20px;
 
  width: 200px;
  height:200px;
  
  border-color:cornflowerblue;
  border-style: solid;

} */





/* .navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  height: 3rem;
} */





.containerA {
 background-color:  #fff;
 position: relative;
 display: grid;
 border-radius: 5px;
 box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
}

 .h2 {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #818189;
}

 .p {
  font-size: 0.9rem;
 }
 .container__text__timing {
  display: flex;
  margin: 20px 0 10px;
   margin-right: 40px;
  }